<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-xgpush-osvlabs" version="5.0.0">
  <name>cordova-plugin-xgpush</name>
  <description>Tencent XGPush Plugin</description>
  <license>MIT</license>
  <author>sunlu</author>
  <keywords>cordova, push, chinese,xgpush</keywords>
  <repo>https://github.com/osvlabs/cordova-plugin-xgpush.git</repo>
  <issue>https://github.com/osvlabs/cordova-plugin-xgpush/issues</issue>
   
  <preference name="ACCESS_ID" />
  <preference name="ACCESS_KEY" />
  <preference name="IOS_ACCESS_ID" />
  <preference name="IOS_ACCESS_KEY" />
  <preference name="HW_APPID" />
  <preference name="PACKAGE_NAME" />
  <preference name="XM_APPID" />
  <preference name="XM_APPKEY" />
  <preference name="MZ_APPID" />
  <preference name="MZ_APPKEY" />
  
  <js-module name="xgpush" src="www/xgpush.js">
    <clobbers target="xgpush" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/after_plugin_add.js" />
    <hook type="before_plugin_uninstall" src="scripts/before_plugin_uninstall.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="XGPush">
        <param name="android-package" value="net.sunlu.xgpush.XGPushPlugin" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="XM_APPID" android:value="\$XM_APPID" />
        <meta-data android:name="XM_APPKEY" android:value="\$XM_APPKEY" />
        <meta-data android:name="MZ_APPID" android:value="\$MZ_APPID" />
        <meta-data android:name="MZ_APPKEY" android:value="\$MZ_APPKEY" />
    </config-file>

    <source-file src="src/android/XGPushPlugin.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushReceiver.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushCallback.java" target-dir="src/net/sunlu/xgpush" />
    <!-- Tencent XGPush SDK  -->
   <framework src="sdk/android/build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
  <!-- ios -->
  <platform name="ios">
   <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>
    <config-file target="config.xml" parent="/*">
      <feature name="XGPush">
        <param name="ios-package" value="CDVXGPushPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="XGPushMeta">
      <dict>
        <key>AccessID</key>
        <integer>$IOS_ACCESS_ID</integer>
        <key>AccessKey</key>
        <string>$IOS_ACCESS_KEY</string>
      </dict>
    </config-file>
    <!-- Tencent XGPush SDK -->
    <header-file src="sdk/ios/XGPush.h" /> 
    <header-file src="sdk/ios/XGPushPrivate.h" /> 
    <header-file src="sdk/ios/XGForFreeVersion.h" /> 
    <source-file src="sdk/ios/libXG-SDK-Cloud.a" framework="true" />
    <!-- Cordova Plugin -->
    <header-file src="src/ios/AppDelegate+CDVXGPush.h" />
    <source-file src="src/ios/AppDelegate+CDVXGPush.m" />
    <header-file src="src/ios/CDVXGPushPlugin.h" />
    <source-file src="src/ios/CDVXGPushPlugin.m" />
    <!-- Dependencies -->
    <framework src="sdk/ios/XGMTACloud.framework" custom="true" />
    <framework src="libz.tbd" />
    <framework src="CoreData.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="libc++.tbd" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="UserNotifications.framework" />
  </platform>
  <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>
